*{
  padding: none;
  margin: none;
  transition-duration: .3s;
}
body, html {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #000500;
  color: #ACADBC;
}

.main-page{
  height: 100vh;
  align-content: center;
  text-align: center;
}

.button{
  position: fixed;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  top: 2vh;
  right: 2vw;
  font-size: 15px;
  border: 1px solid #6665DD;
  border-radius: 5px;
  cursor: pointer;
}

.header{
  width: auto;
  color: #9B9ECE;
  top: 2vh;
  font-size: 20px;
  position: fixed;
}

.text-input {
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 4vh;
  margin: auto;
  width: 100%;
}

.text-input input[type="text"] {
  display: inline-block;
  width: 65%;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #6665DD;
  border-radius: 3px;
  padding: 10px;
  transition: all 0.1s ease-out;
}

.inpbut{
  display: inline-block;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border: 1px solid #6665DD;
  border-radius: 5px;
  cursor: pointer;
}

.data{
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  padding: 15px 0 0 15px;
  top: 10vh;
  text-align: left;
  height: 78vh;
}

.task{
  width: 100%;
}

.head{
  display: inline-block;
  cursor: pointer;
}

.remove{
  display: inline-block;
  color: #6665DD;
  text-align: left;
  cursor: pointer;
}

.desc{
  display: none;
  z-index: 999;
  color: #000500;
  background-color: #9B9ECE;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 70%;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3);
}

.taskname{
  text-align: center;
  padding: 20px 0px 0px 50px;
  font-size: 20px;
}

.back{
  font-size: 20px;
  padding: 20px 20px 0px 0px;
  text-align: left;
}

.back span{
  background-color: #000500;
  color: #ACADBC;
  padding: 4px 11px 4px 11px;
  border-radius: 100px;
  cursor: pointer;
}

.center{
  text-align: center;
  padding: 10px;
}

.micer{
  margin: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border: 1px solid #6665DD;
  border-radius: 5px;
  cursor: pointer;
}

.fuller{
  height: 50%;
}

#cont{
  width: 100%;
  overflow-y: scroll;
}

h5{
  cursor: pointer;
}
